.calc-form {

  & .ant-form-item {
    margin-bottom: 8px;
  }

  & .errors {
    & .info {
      color: green;
      height: 30px;
      margin-top: -8px;
    }

    & .warn {
      color: gold;
      height: 30px;
      margin-top: -8px;
    }

    & .error {
      color: crimson;
      height: 30px;
      margin-top: -8px;
    }
  }

  & .ant-btn {
    margin-left: 8px;
    width: 100px;
    background: black;

    &.button-min {
      border-color: crimson;
      background: #200000;
      color: crimson;
      &.selected {
        color: white;
        background: #662211;
      }
    }

    &.button-just {
      border-color: green;
      background: #001600;
      color: green;
      &.selected {
        color: white;
        background: darkgreen;
      }
    }

    &.button-max {
      border-color: gold;
      background: #202000;
      color: gold;
      &.selected {
        color: white;
        background: darkgoldenrod;
      }
    }
  }
}
