@import '~antd/dist/antd.css';

.app {
  min-height: 100vh;

  &__left-menu {
    width: 200px;

    &__logo {
      width: 176px;
      height: 30px;
      background: rgba(255, 255, 255, 0.2);
      margin: 12px;
      float: left;
      text-align: left;

      &--short {
        width: 56px;
      }

      & > span {
        color: #808080;
        vertical-align: middle;
        padding-left: 12px;
      }
    }
  }

  &__content {
    background: #fff;
    padding: 24px;
    margin: 0;
    min-height: 280px;
  }

  &__footer {
    text-align: left;
    padding: 12px 12px;
  }
}

@import 'ant-table';
